.heading{
    background-color: #171b24;
    padding: 15px;
    border-radius: 5px;
    color: #ffffff;
    font-weight: 500;
    letter-spacing: -1px;
    font-size: 20px;
    margin-top: 12px;
    margin-bottom: 30px;
}

.heading img{
    background-color: #1677ffbe;
    padding: 5px;
    border-radius: 3px;
}

.greeting{
    font-size: 19px;
    color: #ffffff;
    font-weight: 500;
    letter-spacing: 0px;
    margin-bottom: 35px;
}

.filterbtn{
    border: 2px solid white;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 4px;
    padding: 3px 8px 3px 8px;
}

.chart{
    background-color: #171b24;
    padding: 15px 20px 15px 20px;
    border-radius: 5px;
    color: #ffffff;
    font-weight: 500;
    letter-spacing: -1px;
    font-size: 20px;
    margin-top: 12px;
    margin-bottom: 30px;
    margin-top: 50px !important;
    display: block !important;
    /* text-align: center !important; */
    width: fit-content;
    /* margin: 0 auto; */
}

.total{
    background-color: #171b24;
    padding: 15px;
    border-radius: 5px;
    color: #ffffff;
}

@media (max-width: 812px){
    .pie{
        width: 400px !important;
        height: 400px !important;
    }
}

@media (max-width: 450px){
    .pie{
        width:300px !important;
        height: 300px !important;
    }
}