.heading{
    background-color: #171b24;
    /* background-color: #1677FF; */
    padding: 15px;
    border-radius: 5px;
    /* color: #ffffffb6; */
    color: #ffffff;
    /* color: #1677FF; */
    font-weight: 500;
    letter-spacing: -1px;
    font-size: 20px;
    margin-top: 12px;
    margin-bottom: 30px;
}

.heading img{
    background-color: #1677ffbe;
    padding: 5px;
    border-radius: 3px;
}

.greeting{
    font-size: 19px;
    /* color: #ffffffb6; */
    color: #ffffff;
    font-weight: 500;
    letter-spacing: 0px;
    /* text-align: center; */
    margin-bottom: 35px;
}

.filterbtn{
    border: 2px solid white;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 4px;
    padding: 3px 8px 3px 8px;
}