.expense{
    margin-bottom: 20px;
    z-index: 1;
    background-color: #171b24;
    border-radius: 7px;
    padding: 10px;
    /* border: 2px solid rgb(0, 22, 121); */
}

.confirmDelete, .singleDeletePopup{
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.212);
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.popup, .popup2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 200px;
    background-color: rgb(131, 131, 131);
}

.popup button, .popup2 button{
    margin-right: 10px;
}

.newExpBtn{
    outline: none;
}

.filter, .bin{
    outline: none !important;
}

/* .filter:hover{
    border: 1px solid white !important;
} */
