.popupBg{
    background-color: #000000;
    border: 1px solid #1677FF;
    width: 70%;
    padding: 10px;
    border-radius: 10px;
    box-shadow: -15px -15px 100px rgb(0, 0, 0);
}

.formFilter{
    width: 100%;
}

.ant-picker-dropdown {
  transform: scale(0.90);
  transform-origin: top left;
}