.track{
    background: linear-gradient(to right, #ffffff, #ffffff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-shadow: 0 0 15px rgba(89, 158, 255, 0.7);
}

.spend{
  background: linear-gradient(to right, #1677FF, #ffffff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-shadow: 0 0 15px rgba(22, 119, 255, 0.7);
}

.sub{
    color: rgb(255, 254, 254);
}

.getstarted{
    background: linear-gradient(to right, #ffffff, #ffffff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-shadow: 0 0 15px rgba(154, 196, 255, 0.7);
}

.signin{
    color: #1677FF !important;
    margin-bottom: 2px;
}

.sub{
    margin: 0 auto;
    text-align: center;
    background-color: #111a2c;
    color: #3c89e8;
    padding: 5px 7px;
    border-radius: 10px;
    font-size: 13px;
    width: fit-content;
    border: 1px solid #15325b;
    box-shadow: 0 0 8px #15325b;
}

.rotate {
  animation: spin 4s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
