.deleteAcc{
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.confirmAccDelete{
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.popup2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 200px;
    background-color: rgb(131, 131, 131);
}