.deleteAcc, .confirmAccDelete{
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.popup2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 300px;
    height: 200px;
    background-color: #171b24;
    border-radius: 10px;
    z-index: 9999;
}