.mobile-menu {
  display: none;
}

/* Visible state */
.mobile-menu-open {
  display: block;
  width: 100vw;
    height: 100vh;
    background: rgb(0, 1, 32);
    
    position: fixed;
    /* top: 0; */
    left: 0;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly; */
    z-index: 9999 !important;
}
@media (min-width: 1280px) {
  .navcon{
  padding: 15px 0px 10px 15px;
  background-color: #171b24;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.nav1con{
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.logout{
  margin-top: auto;
  margin-bottom: 10px;
}
}

@media (max-width: 1280px) {
  .nav2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    font-size: 20px;
}

.navbar{
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #171b24;
}
}

