.mobile-menu {
  display: none;
}

/* Visible state */
.mobile-menu-open {
  display: block;
  width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.432);
    
    position: fixed;
    top: 0;
    /* left: 10%;
    right: 0; */
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly; */
    z-index: 9999 !important;
}

/* .mobile-menu-open {
  display: block;
  width: 80vw;
    height: 100vh;
    background: rgb(0, 1, 32);
    position: fixed;
    left: 0;
    z-index: 9999 !important;
} */

/* Large screen */
@media (min-width: 1280px) {
  .navcon{
  padding: 15px 15px 10px 15px;
  background-color: #171b24;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.nav1con{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.nav1con a{
  padding: 10px 10px 10px 10px;
  color: rgb(255, 255, 255);
  font-weight: 400;
}

.nav1con a:hover{
  color: white !important;
  background-color: #333b4e;
  border-radius: 7px;
}

.logout{
  margin-top: auto;
  margin-bottom: 10px;
  background-color: #333b4e;
  color: white !important;
  padding: 10px 10px 10px 10px;
  border-radius: 7px;
  font-weight: 400;
}

.logout:hover{
  background-color: rgb(255, 59, 59);
}

.activeNavLink, .activeNavLink:hover{
  background-color: #1677FF !important;
  color: white !important;
  border-radius: 7px;
}
}

/* Small screen */
@media (max-width: 1280px) {
  .nav2{
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 13px;
    /* justify-content: space-evenly; */
    height: 100%;
    width: 80%;
    font-size: 20px;
    background-color: #171b24;
    float: right;
    padding: 0px 15px 0px 15px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.logout2{
  margin-top: auto;
  margin-bottom: 20px;
  background-color: #333b4e;
  color: white !important;
  padding: 10px 10px 10px 10px;
  border-radius: 7px;
  font-weight: 400;
}

.logout2:hover{
  background-color: rgb(255, 59, 59) !important;
}
  /* .nav2{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-evenly;
    height: 100%;
    font-size: 20px;
    background-color: #171b24;
    padding: 0px 10px 0px 10px;
} */

.navbar{
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #171b24;
  border-bottom: 1px solid #303747;
}

.nav2 a{
  padding: 10px;
  color: white !important;
  font-size: 17px;
  font-weight: 400;
}

.nav2 a:hover{
  color: white !important;
  background-color: #333b4e;
  border-radius: 7px;
}

.activeNavLink{
  background-color: #1677FF !important;
  color: white !important;
  /* padding: 10px 10px 10px 10px; */
  border-radius: 7px;
}

.cancelBtn:hover{
  border: 1px solid #1677FF;
  outline:  #1677FF;
  /* padding: 3px !important;
  margin-top: -2px;
  margin-left: 10px; */
}

.menu{
  background: none;
  padding: 3px !important;
  /* border: 1px solid #1677FF;
  outline:  #1677FF; */
}

.menu:hover{
  border: 1px solid #1677FF;
  outline:  #1677FF;
}
}

