.mobile-menu {
  display: none;
}

/* Visible state */
.mobile-menu-open {
  /* display: block;
  height: 100vh;
  position: fixed;
  top: 0;
    left: 0;
  width: 100vw;
  background-color: brown;
  z-index: 100000 !important; */

  display: block;
  width: 100vw;
    height: 100vh;
    background: rgb(0, 1, 32);
    /* text-align: center; */
    position: fixed;
    /* top: 0; */
    left: 0;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly; */
    z-index: 9999 !important;
}

.nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    font-size: 20px;
}